[submodule "QtArg"]
	path = QtArg
	url = https://github.com/igormironchik/qtargparser.git
[submodule "Como"]
	path = Como
	url = https://github.com/igormironchik/components-observation.git
[submodule "QtConfFile"]
	path = QtConfFile
	url = https://github.com/igormironchik/qt-conf-file.git
